<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href=”http://fonts.googleapis.com/css?family=Open+Sans” rel=”stylesheet” type=”text/css”>
</head>
<body>
    <div style="padding-top:30px;max-width:520px!important;line-height: 1.3; word-break:keep-all;margin:auto!important;font-size:15px!important;color:black; font-family: 'Open Sans';">
        <table style="width:100%">
            <tr>
                <td style="font-weight: 600;margin: 0;font-size: 1.8rem;vertical-align: bottom;">룰루랄라 ’s PICK</td>
                <td style="font-weight: 600;font-size: 1.1rem;text-align:right;vertical-align: bottom;">11월 2주차</td>
            </tr>
        </table>
        <hr class="header-divider" style="height:5px;background: rgb(228, 108, 10);border: none;margin-bottom: 1.5rem;">
        <div style="text-align: center;font-size: 1.2rem;padding: 0 .5rem;">현직자의 시각에서 바라본 우수 외국계 기업 채용을 엄선하여 매주 보내드립니다.</div>

        <div class="intro" style="background: rgb(253, 234, 228);margin-top: 1.5rem;margin-bottom: 2.5rem;padding: 1rem; word-break: break-word;">
            <p style="margin: 0;font-size:0.9rem;margin-bottom:5px"><strong>[룰루랄라]</strong>는 루키를 위한 채용 추천과 기업별 최신 정보를 전달하는 취업 지식 유통 채널입니다. 일에 대한 열정을 가진 당신의 하루가 룰루랄라해지는 그 날까지 <strong>[룰루랄라]</strong>가 함께 하겠습니다.
            <p style="margin: 0;font-size:0.85rem;"><strong>* 루키(ROOKIE)란? 신입 취준생과 이직을 희망하는 저년차 직장인을 부르는 표현</strong></p>
        </div>
        <!-- ################## PICK SUMMARY ################### -->
        <div class='section' style="margin-top: 1.5rem; margin-bottom: 2.5rem;">
            <h2 style="margin: 0;"># PICK SUMMARY</h2>
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="border-spacing: 0; width:100%; line-height: 1.3">
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/20</td></tr>
                <tr><td valign="top" style="font-weight:600;">델파이테크놀로지스코리아</td></tr>
                <tr><td valign="top">(정규직) 시험실</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/17</td></tr>
                <tr><td valign="top" style="font-weight:600;">씨엠지알피코리아(웨버샌드윅)</td></tr>
                <tr><td valign="top">(정규직) 디지털/PR</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/19</td></tr>
                <tr><td valign="top" style="font-weight:600;">푸르덴셜생명보험</td></tr>
                <tr><td valign="top">(정규직) 재무회계팀</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/19</td></tr>
                <tr><td valign="top" style="font-weight:600;">어드밴텍케이알</td></tr>
                <tr><td valign="top">(정규직) 기술영업/영업/기술지원/기술개발/제품기획</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/20</td></tr>
                <tr><td valign="top" style="font-weight:600;">한국화낙</td></tr>
                <tr><td valign="top">(정규직) 기술지원/IT/경영지원/서비스</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">ASAP</td></tr>
                <tr><td valign="top" style="font-weight:600;">한국유미코아</td></tr>
                <tr><td valign="top">(정규직) 원재료 물류 담당</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/22</td></tr>
                <tr><td valign="top" style="font-weight:600;">바르질라코리아</td></tr>
                <tr><td valign="top">(정규직) Services Coordinator</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/23</td></tr>
                <tr><td valign="top" style="font-weight:600;">삼정KPMG</td></tr>
                <tr><td valign="top">(정규직) 인사</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/23</td></tr>
                <tr><td valign="top" style="font-weight:600;">에릭슨LG</td></tr>
                <tr><td valign="top">(정규직) 네트워크 엔지니어</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/22</td></tr>
                <tr><td valign="top" style="font-weight:600;">DKSH코리아</td></tr>
                <tr><td valign="top">(정규직) 약국영업</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/18</td></tr>
                <tr><td valign="top" style="font-weight:600;">AXA손해보험</td></tr>
                <tr><td valign="top">(정규직) Risk Management Specialist</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/16</td></tr>
                <tr><td valign="top" style="font-weight:600;">한국노바티스</td></tr>
                <tr><td valign="top">(정규직) CRA</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/20</td></tr>
                <tr><td valign="top" style="font-weight:600;">한국도요타쯔우쇼</td></tr>
                <tr><td valign="top">(정규직) 해외영업(금속철강부문)</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">ASAP</td></tr>
                <tr><td valign="top" style="font-weight:600;">존슨콘트롤즈코리아</td></tr>
                <tr><td valign="top">(정규직) 빌딩관리시스템 영업</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">ASAP</td></tr>
                <tr><td valign="top" style="font-weight:600;">한국룬드벡</td></tr>
                <tr><td valign="top">(정규직) 제약영업</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/18</td></tr>
                <tr><td valign="top" style="font-weight:600;">한국미쓰비시전기오토메이션</td></tr>
                <tr><td valign="top">(인턴) FA시스템 영업 엔지니어</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/18</td></tr>
                <tr><td valign="top" style="font-weight:600;">룩소티카코리아</td></tr>
                <tr><td valign="top">(정규직) HR</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
                <tr><td valign="top" rowspan="4" width="70" style="text-align:center;">~11/16</td></tr>
                <tr><td valign="top" style="font-weight:600;">세빌스코리아</td></tr>
                <tr><td valign="top">(정규직) Logistics Consulting</td></tr>
                <tr><td style="font-size: 7px;">&nbsp;</td></tr>
            </table>
            <div style="font-weight: 600; color:rgb(228, 108, 10);text-align: center;">* 채용 공고 큐레이션이 이어집니다!</div>
        </div>
        <!-- ################## PICK SUMMARY ################### -->
        <!-- ### 분야별 채용공고 ### -->
        <div class='section' style="margin-top: 1.5rem; margin-bottom: 2.5rem;">
            <h2 style="margin: 0;"># 기계장비 / 건설 / 중공업</h2>
            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="http://www.jobkorea.co.kr/Recruit/GI_Read/26757321?rPageCode=SL" target="_blank" ><img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg"></a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr>
                   <td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">한국화낙</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">모집 분야</td><td style="">(정규직) 기술지원/IT/경영지원/서비스</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">마감일</td><td style="">~11/20</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">근무지</td><td style="">창원/안양</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">경력 구분</td><td style="">신입</td>
                </tr>

            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>한국화낙, 후지산의 비밀공장</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- 한국화낙, 고감도 접촉정지 협동로봇 <a href="http://www.industrynews.co.kr/news/articleView.html?idxno=22497">선보여</a></td></tr>
                <tr><td>- 일본의 은둔형 기업... 기술자 우대로 전 세계 산업용 로봇 시장 <a href="http://it.donga.com/27623/">장악</a></td></tr>
                <tr><td>- '인더스트리 4.0'시대를 선도하는 화낙 상하이 <a href="http://www.irobotnews.com/news/articleView.html?idxno=14384t">법인</a></td></tr>
            </table>
            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="https://careers.wartsila.com/job/Busan-Services-Coordinator%2C-Voyage-Services/502622301/" target="_blank" ><img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg"></a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">바르질라코리아</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(정규직) Services Coordinator</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>~11/22</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>부산</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>신입/경력+1~3</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">특이사항</td><td>SAP 활용지식</td></tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>핀란드의 세계적인 에너지 기업</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>

                <tr><td>- 현대차그룹, 세계적 에너지기업 핀란드 ‘바르질라(Wartsila)’社와 <a href="http://www.etoday.co.kr/news/section/newsview.php?idxno=1635082
    ">파트너십</a></td></tr>
                <tr><td>- 산업용 ESS 시장, 2022년까지 45GWh 규모로 <a href="http://www.kidd.co.kr/news/203124">성장할 것</a></td></tr>
            </table>


             <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="https://jobs.siemens-info.com/jobs/88025?lang=en-gb&previousLocale=en-US" target="_blank" ><img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg"></a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">지멘스</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(인턴) 빌딩자동화사업부 업무지원</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>ASAP</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>서울</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>신입</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">특이사항</td><td>(우대)소방 전공 (필수)전기/전자/산업공학 전공자</td></tr>
            </table>

            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="http://www.jobkorea.co.kr/Recruit/GI_Read/26781231?rPageCode=SL"></a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">존슨콘트롤즈코리아</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(정규직) 빌딩관리시스템 영업</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>ASAP</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>서울</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>신입/경력+3</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">특이사항</td><td>전기/기계/엔지니어링 전공</td></tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>스마트 빌딩 솔루션을 넘어 스마트 시티를 목표로</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- 존슨콘트롤즈, 韓 스마트시티 선도 <a href="http://www.kharn.kr/mobile/article.html?no=8161"></a>‘출사표’</td></tr>
                <tr><td>- 존슨콘트롤즈, 콜드체인 핵심 물류현장 <a href="https://www.kharn.kr/news/article.html?no=7461">수주</a></td></tr>
            </table>
        </div>

        <!-- ==== -->


        <div class='section' style="margin-top: 1.5rem; margin-bottom: 2.5rem;">
            <h2 style="margin: 0;"># 리빙 / 식음료 / 레저</h2>
            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="https://www.peoplenjob.com/jobs/3579799?type=hot-company" target="_blank" >
                            <img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg">
                        </a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr>
                   <td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">룩소티카코리아</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">모집 분야</td><td style="">(정규직) HR</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">마감일</td><td style="">~11/18</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">근무지</td><td style="">서울</td>
                </tr>
                <tr>
                   <td style="min-width: 80px;text-align: center;">경력 구분</td><td style="">경력+2~3</td>
                </tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>이탈리아 출신 세계 1위 안경-렌즈회사</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- 공룡 안경·렌즈 업체 탄생…룩소티카·에실로 <a href="http://news.mt.co.kr/mtview.php?no=2017011616173739394">인수합병</a></td></tr>
                <tr><td>- 스냅, 실패한 스마트선글라스 '스펙타클' 새 버전 <a href="http://www.zdnet.co.kr/news/news_view.asp?artice_id=20180304161002">출시</a></td></tr>
                <tr><td>- 레이밴 ‘리믹스’, 커스터마이징 <a href="http://www.newsway.co.kr/news/view?tp=1&ud=2017042714224084565">선글라스</a></td></tr>
            </table>
        </div>

        <div class='section' style="margin-top: 1.5rem; margin-bottom: 2.5rem;">
            <h2 style="margin: 0;"># 무역 / 유통 / 상사</h2>
            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="http://www.jobkorea.co.kr/Recruit/GI_Read/26593318?rPageCode=SL">
                            <img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg">
                        </a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">한국도요타쯔우쇼</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(정규직) 해외영업(금속철강부문)</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>~11/20</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>서울</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>경력+2 이상</td></tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>일본 TOYOTA 그룹의 글로벌 종합무역상사</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- 전기차 성장, '리튬, 코발트' 원재료가 발목 <a href="http://www.greened.kr/news/articleView.html?idxno=35375">잡는다</a></td></tr>
            </table>
        </div>

        <div class='section' style="margin-top: 1.5rem; margin-bottom: 2.5rem;">
            <h2 style="margin: 0;"># 은행 / 보험 / 증권 / 카드</h2>
            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="https://www.hsbc.com/careers/students-and-graduates/student-opportunities/global-banking-internship">
                            <img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg">
                        </a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">HSBC코리아</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(인턴) 글로벌뱅킹인턴쉽</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>~12/31</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>서울</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>경력+2 이상</td></tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>일과 휴가의 명확한 분리를 경험하라</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- 아침·점심 공짜노동? 카톡노동?…은행은 52시간 ‘단협’ <a href="http://www.hani.co.kr/arti/economy/finance/850384.html">전쟁중</a></td></tr>
            </table>


            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="https://prudential.recruiter.co.kr/app/jobnotice/view?systemKindCode=MRS1&jobnoticeSn=18646">
                            <img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg">
                        </a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">푸르덴셜생명보험</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(정규직) 재무회계팀</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>~11/19</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>서울</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>신입</td></tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>변액보험으로 유명한 외국계 생보사</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- 푸르덴셜생명 호실적을 이끈 'MaF' <a href="https://thebell.co.kr/free/content/ArticleView.asp?key=201610210100038110002308&lcode=00">전략</a></td></tr>
                <tr><td>- 푸르덴셜 “아시아의 급격한 인구 고령화 문제 해결의 핵심은 혁신적이고 선도적인 <a href="http://www.newswire.co.kr/newsRead.php?no=856779">정책</a></td></tr>
                <tr><td>- 변액보험 10년 누적 수익률 푸르덴셜생명이 <a href="http://www.yonhapnews.co.kr/bulletin/2018/01/22/0200000000AKR20180122156700002.HTML">1위</a></td></tr>
            </table>


            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="https://www.axa.co.kr/APInternetWAS/jsp/ap/internet/recruit/hr_recruit_detailView_gnr.jsp?registration_date=20181105&seq_no=1&gubun=detail">
                            <img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg">
                        </a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">AXA손해보험</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(정규직) Risk Management Specialist</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>~11/18</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>서울</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>경력+2~4</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">특이사항</td><td>계리/통계/수학/경제학 계열 전공자 우대</td></tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>국내 장기보험 시장 진출 선언으로 기대되는 손보사</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- 해외보험사에 밀리는 인슈어테크 <a href="http://www.dt.co.kr/contents.html?article_no=2018111102109958054003">경쟁력</a></td></tr>
                <tr><td>- '15년 無설계사' 악사손보...원칙 깬 <a href="https://www.ajunews.com/view/20180129143638574">이유</a></td></tr>
            </table>

            <!-- ##### 본문 #####  -->
            <hr style="background: rgb(228, 108, 10);margin-top:0.5rem;margin-bottom:0.5rem;border-style: none;height: 1px;">
            <table style="margin-bottom: 1.5rem; width:100%">
                <tr>
                    <!--  $$$$$$ 기업로고 $$$$$  -->
                    <td colspan="2" style="text-align: center;padding: 10px 0 17px 0;">
                        <a href="https://www.peoplenjob.com/jobs/3579935?type=hot-company">
                            <img style="width:180px" src="https://i.imgur.com/yStAW6m.jpg">
                        </a>
                        <p style="font-size:.85rem;text-align:center;margin: 0;font-weight: 600;color: rgb(228, 108, 10);">* 클릭시 채용공고로 이동</p>
                    </td>
                </tr>
                <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">한국유미코아</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>(정규직) 원재료 물류 담당</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>ASAP</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>천안</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>신입~경력+3</td></tr>
                <tr><td style="min-width: 80px;text-align: center;">특이사항</td><td>SCM 관련 ERP시스템 운용 경험</td></tr>
            </table>
            <table>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                <tr><td>다가오는 전기차 시대를 선도하는 핵심 기술을 보유한 글로벌 화학 기업</td></tr>
                <tr><td></td></tr>
                <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                <tr><td>- LG화학, ‘폴란드行’ 결정한 유미코어와 시너지 <a href="http://www.etoday.co.kr/news/section/newsview.php?idxno=1629697">창출할까</a></td></tr>
                <tr><td>- 양극재 기술·생산 글로벌 선두...실적 <a href="https://www.sedaily.com/NewsView/1S5SN5GKKK">쑥쑥</a></td></tr>
                <tr><td>- 삼광글라스·OCI, '1000억'에 오덱 지분 전량 <a href="http://news1.kr/articles/?2936324">매각</a></td></tr>
            </table>

        </div>
        <!-- ### 분야별 채용공고 ### -->
        <div class="section" style="text-align: center;padding-top: 30px;margin-bottom: 55px;">
            <a target="_blank" href="https://goo.gl/forms/XlQ90eMNTzeukqYz2" style="border-radius: 5px;text-decoration: none;padding: 18px 25px;font-size: 17px;background: rgb(228,108,10);color: white;display: inline-block;">구독하기</a>
        </div>
    </div>

</body>
</html>


