<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href=”http://fonts.googleapis.com/css?family=Open+Sans” rel=”stylesheet” type=”text/css”>
</head>
<body>
    <a href="{% url 'load' %}">불러오기</a>
    <a href="{% url 'load_images' %}">이미지 불러오기</a>
    <div style="padding-top:30px;max-width:520px!important;line-height: 1.3; word-break:keep-all;margin:auto!important;font-size:15px!important;color:black; font-family: 'Open Sans';">
        <div style="font-weight:600;font-size:1.8rem; text-align:center">룰루랄라’s PICK</div>
        <div class="intro" style="border: 1px solid rgb(228, 108, 10);margin-top: 1.5rem;margin-bottom: 2.5rem;padding: 1rem;word-break: break-word;">
            <p style="margin: 0;margin-bottom:2px;font-size:1.0rem"> 1. 룰루랄라는 루키를 위한 외국계 기업 채용 추천과 기업 정보를 큐레이션 합니다.</p>
            <p style="margin: 0;margin-bottom:2px;font-size:1.0rem">2. 채용 중인 기업의 비즈니스 유형에 따라 10가지 사업 분야로 정리 및 분류했습니다.</p>
            <p style="margin: 0;margin-bottom:2px;font-size:1.0rem">3. 기업 로고와 참고자료 마지막 단어를 클릭하면 해당 페이지로 이동합니다.</p>
            <p style="margin: 0;margin-bottom:2px;font-size:1.0rem">4. 무료 정기 구독하세요. 구독을 희망한다면 이메일 하단 [구독하기] 버튼을 클릭! </p>
            <p style="margin: 0;margin-bottom:5px; font-weight:600; color:rgb(228,108,10);font-size:0.8rem"><strong>* 루키란? 취준생과 저년차 직장인을 의미하는 단어</strong></p>
        </div>

        {% for c in categories %}
            {% if c.recruits.all %}
            <div class='category-section' style="margin-top: 1.5rem; margin-bottom: 2.5rem;">
                {% if c.recruits.all %}
                <h2 style="margin: 0;background: rgb(228, 108, 10);color: white;padding: 3px 5px;">{{ c.name }}</h2>
                {% endif %}

                {% for r in c.recruits.all %}
                <!-- ##### 본문 #####  -->

                <table style="margin-bottom: 1rem; margin-top: 0.5rem;width:100%; {% if forloop.counter != 1 %} border-top:1px solid rgb(228,108,10);{% endif %}">
                    <tr>
                        <!--  $$$$$$ 기업로고 $$$$$  -->
                        <td colspan="2" style="text-align: center;padding: 17px 0 17px 0;">
                            <a href="{{r.url}}" target="_blank">
                                <img style="width:180px" src="{{r.company.logo}}">
                            </a>
                        </td>
                    </tr>
                    <tr><td width="110" style="min-width: 80px;text-align: center;">회사명</td><td style="">{{r.company.name}}</td></tr>
                    <tr><td style="min-width: 80px;text-align: center;">모집 분야</td><td>{{r.field}}</td></tr>
                    <tr><td style="min-width: 80px;text-align: center;">마감일</td><td>{{ r.duedate }}</td></tr>
                    <tr><td style="min-width: 80px;text-align: center;">근무지</td><td>{{ r.place }}</td></tr>
                    <tr><td style="min-width: 80px;text-align: center;">경력 구분</td><td>{{ r.career }}</td></tr>
                    {% if r.detail %}
                    <tr><td style="min-width: 80px;text-align: center;">특이사항</td><td>{{ r.detail }}</td></tr>
                    {% endif %}
                </table>
                <table style="margin-bottom: 1.5rem;">
                    {% if r.comment %}
                    <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[룰루랄라's 코멘트]</td></tr>
                    <tr><td>{{ r.comment }}</td></tr>
                    <tr><td></td></tr>
                    {% endif %}
                    {% if r.materials.count != 0 %}
                    <tr><td style="color:rgb(228, 108, 10);font-weight: 600;">[서류 및 면접 준비를 위한 참고자료]</td></tr>
                    {% for m in r.materials.all %}
                    <tr><td>{{ m.content|safe }}</td></tr>
                    {% endfor %}
                    {% endif %}
                </table>
                {% endfor %}
            </div>
            {% endif %}
        {% endfor %}

        <div class="section" style="text-align: center;padding-top: 30px;margin-bottom: 55px;">
            <a target="_blank" href="https://goo.gl/forms/XlQ90eMNTzeukqYz2" style="border-radius: 5px;text-decoration: none;padding: 18px 25px;font-size: 17px;background: rgb(228,108,10);color: white;display: inline-block;">구독하기</a>
        </div>

        <div style="text-align:center;color:rgb(228,108,10);">
            <p style="margin: 0;margin-bottom:3px">룰루랄라 / loolurala@naver.com</p>
            <p style="margin: 0;margin-bottom:10px">Copyright © 2018 Loolurala, All rights reserved</p>

            <p style="margin: 0;margin-bottom:3px">Want to change how you receive these emails?</p>
            <p style="margin: 0;margin-bottom:5px"><a href="$%unsubscribe%$">수신거부</a></p>
        </div>
    </div>
</body>
</html>


